.footer {
  background-color: #333333;
  height: 150px;
  // padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #CCCCCC;
  // position: absolute;
  // bottom: 0;
  // width: 100%;
}

.footer a {
  font-size: 40px;
  color: #CCCCCC;
}

.footer a:hover {
  color: #428BCA;
}

