.wrapper-grey {
  background: #F4F4F4;
  padding: 100px;
  margin-bottom: 70px;
}

.img-icon {
  width: 100px;
}

.padded h2 {
  font-size: 21px;
}

.newsletter {
  margin-bottom: 90px;
}

// body {
//   position: relative;
//   min-height: 100%;
// }
